# OS Files
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# "super project"-files
/.maven-cache/
/.maven-modules
/.maven-workspace/
/maven.log
/.gradle-settings/
/.gradle/
/*.zip
/*.deb
/*.rpm
.deps.mk
.effective-pom.xml
.last-tested

# Eclipse
eclipse/
eclipse/*
.project
.settings
.classpath

# vim files
*~
*.swp

# NLB-specific
/releaseDescriptor*xml
