service.pid="org.apache.felix.fileinstall.093ea43a-d24b-4c13-8cff-044787f18a5f"
felix.fileinstall.noInitialDelay="false"
felix.fileinstall.dir="system/framework/persistence"
service.factoryPid="org.apache.felix.fileinstall"
felix.fileinstall.start.level="30"
felix.fileinstall.filename="file:/opt/daisy-pipeline2/etc/webservice/org.apache.felix.fileinstall-framework-persistance.cfg"
