service.pid="org.apache.felix.fileinstall.334717c8-1c59-4abc-94c4-0dbee4d840fb"
felix.fileinstall.noInitialDelay="false"
felix.fileinstall.dir="system/frontend"
service.factoryPid="org.apache.felix.fileinstall"
felix.fileinstall.start.level="100"
felix.fileinstall.filename="file:/opt/daisy-pipeline2/etc/webservice/org.apache.felix.fileinstall-frontend.cfg"
