service.pid="org.apache.felix.fileinstall.e45b010f-186c-4586-a434-19415b157346"
felix.fileinstall.noInitialDelay="false"
felix.fileinstall.dir="modules"
service.factoryPid="org.apache.felix.fileinstall"
felix.fileinstall.start.level="50"
felix.fileinstall.filename="file:/opt/daisy-pipeline2/etc/org.apache.felix.fileinstall-modules.cfg"
