service.pid="org.apache.felix.fileinstall.e4b5c69c-3619-4554-9a9c-517101f81133"
felix.fileinstall.noInitialDelay="false"
felix.fileinstall.dir="../bundles/libs/persistence"
service.factoryPid="org.apache.felix.fileinstall"
felix.fileinstall.start.level="30"
felix.fileinstall.filename="file:/opt/daisy-pipeline2/etc/webservice/org.apache.felix.fileinstall-libs-persistence.cfg"
