@namespace epub 'http://www.idpf.org/2007/ops';
@namespace xml 'http://www.w3.org/XML/1998/namespace';

/* Declare parameters. Values are passed in from nlb:dtbook-to-pef. */
$show-print-page-numbers: false !default;
$show-braille-page-numbers: false !default;
$line-spacing: false !default;
$include-notes: true !default;
$include-images: true !default;
$include-captions: true !default;
$notes-placement: end-of-volume !default;

/* -------------------------------------------------------------------------- */
/*                page                                                        */
/* -------------------------------------------------------------------------- */

@page {
        margin-right: 1;
        @if $show-print-page-numbers {
            margin-left: 2;
        } @else {
            margin-left: 1;
        }
}

book, body {
        counter-set: page 1;
        page: body;
}

.pef-titlepage, .pef-about,
#generated-volume-toc, #generated-document-toc {
        page: auto;
}

/* -------------------------------------------------------------------------- */
/*                braille and print page numbers                              */
/* -------------------------------------------------------------------------- */

/* Don't show pagenumber inline. Store reference in case we want to show marker in margin. */
pagenum, *[epub|type~='pagebreak'] {
        display: none;
        -obfl-marker: pagenum;
}

/* Show page numbers in bodymatter. */
@if $show-print-page-numbers {
        bodymatter pagenum {
                string-set: print-page "⠿" content();
        }
        
        body:not([epub|type~='cover']):not([epub|type~='frontmatter']):not([epub|type~='backmatter']) *[epub|type~='pagebreak'] {
                &[title] {
                        string-set: print-page "⠿" attr(title);
                }
                &:not([title]) {
                        string-set: print-page "⠿" content();
                }
        }
}

@page body {
        @if $show-print-page-numbers {
                @bottom-right {
                        content: string(print-page, last);
                }
                @left {
                    content: -obfl-marker-indicator(pagenum, '⠿');
                }
        }

        @if $show-braille-page-numbers {
                @bottom-center {
                        content: counter(page);
                }
        }
}

/* -------------------------------------------------------------------------- */
/*               line spacing                                                 */
/* -------------------------------------------------------------------------- */

@if $line-spacing == double {
        :root {
                line-height: 1;

                /* to cancel out generic rule */
        }

        frontmatter level1:not(.pef-titlepage):not(.pef-about):not(:has(> #generated-volume-toc)):not(:has(> #generated-document-toc)),
        bodymatter,
        body:not([epub|type~='cover']):not([epub|type~='backmatter']):not(.pef-titlepage):not(.pef-about):not(:has(> #generated-volume-toc)):not(:has(> #generated-document-toc)) {
                line-height: 2;
        }

        @page body:left {
                margin-top: 1;
        }
}

/* -------------------------------------------------------------------------- */
/* Book structure, including headlines, volume breaking, toc, titlepage, etc. */
/* -------------------------------------------------------------------------- */

/* Parts */
level1.part, *[epub|type~='part'] {
    page-break-before: auto;
    
    & ~ level1.part,
    & ~ *[epub|type~='part'] {
        /* Note: this selector assumes that parts in EPUBs are sibling elements */
        
        /* Always start a new volume before a new part */
        volume-break-before: always;
    }
}

/* Rules depending on sectioning depth */
/* Note: DTBook and EPUB rules are separated mainly to avoid bloating the compiled CSS. */
level1:not(.part):not(.pef-titlepage):not(.pef-about):not(:has(> #generated-volume-toc)):not(:has(> #generated-document-toc)), level1.part > level2 {
        /* level 1 */
        page-break-before: right;
        volume-break-inside: auto;
        
        &:first-child,
        ~ level1:not(.part),
        ~ level2 {
                /* level 1 except first sibling level 1 */
                volume-break-inside: -obfl-keep(8);
        }
}
level1:not(.part) level2, level1.part level3 {
        /* level 2 */
        volume-break-inside: -obfl-keep(8);
        
        &:first-child,
        ~ level2,
        ~ level3 {
                /* level 2 except first sibling level 2 */
                volume-break-inside: -obfl-keep(7);
        }
}
level1:not(.part) level3, level1.part level4 {
        /* level 3 */
        volume-break-inside: -obfl-keep(7);
        
        &:first-child,
        ~ level3,
        ~ level4 {
                /* level 3 except first sibling level 3 */
                volume-break-inside: -obfl-keep(6);
        }
}
level1:not(.part) level4, level1.part level5 {
        /* level 4 */
        volume-break-inside: -obfl-keep(6);
        
        &:first-child,
        ~ level4,
        ~ level5 {
                /* level 4 except first sibling level 4 */
                volume-break-inside: -obfl-keep(5);
        }
}
level1:not(.part) level5, level1.part level6 {
        /* level 5 */
        volume-break-inside: -obfl-keep(5);
        
        &:first-child,
        ~ level5,
        ~ level6 {
                /* level 5 except first sibling level 5 */
                volume-break-inside: -obfl-keep(4);
        }
}
level1:not(.part) level6 {
        /* level 6 */
        volume-break-inside: -obfl-keep(4);
        
        &:first-child,
        ~ level6 {
                /* level 6 except first sibling level 6 */
                volume-break-inside: -obfl-keep(3);
        }
}
*[epub|type~='part'] section,
body:not([epub|type~='part']):not(.pef-titlepage):not(.pef-about):not(:has(> #generated-volume-toc)):not(:has(> #generated-document-toc)),
section:not([epub|type~='part']):not(.pef-titlepage):not(.pef-about):not(:has(> #generated-volume-toc)):not(:has(> #generated-document-toc)) {
        /* level 1 */
        page-break-before: right;
        volume-break-inside: -obfl-keep(8);
        
        &:first-child,
        ~ section:not([epub|type~='part']) {
                /* level 1 except first sibling level 1 */
        }
        
        > section {
                /* level 2 */
                page-break-before: auto;
                volume-break-inside: -obfl-keep(8);
                
                &:first-child,
                ~ section {
                        /* level 2 except first sibling level 2 */
                        volume-break-inside: -obfl-keep(7);
                }
                
                > section {
                        /* level 3 */
                        volume-break-inside: -obfl-keep(7);
                        
                        &:first-child,
                        ~ section {
                                /* level 3 except first sibling level 3 */
                                volume-break-inside: -obfl-keep(6);
                        }
                        
                        > section {
                                /* level 4 */
                                volume-break-inside: -obfl-keep(6);
                                
                                &:first-child,
                                ~ section {
                                        /* level 4 except first sibling level 4 */
                                        volume-break-inside: -obfl-keep(5);
                                }
                                
                                > section {
                                        /* level 5 */
                                        volume-break-inside: -obfl-keep(5);
                                        
                                        &:first-child,
                                        ~ section {
                                                /* level 5 except first sibling level 5 */
                                                volume-break-inside: -obfl-keep(4);
                                        }
                                        
                                        > section {
                                                /* level 6 */
                                                volume-break-inside: -obfl-keep(4);
                                                
                                                &:first-child,
                                                ~ section {
                                                        /* level 6 except first sibling level 6 */
                                                        volume-break-inside: -obfl-keep(3);
                                                }
                                        }
                                }
                        }
                }
        }
}

/* Avoid volume breaking inside certain DTBook elements (mainly block-level) */
h1, h2, h3, h4, h5, h6,
imggroup, prodnote, sidebar, note, annotation
list, dl, table, poem,
p, address, blockquote, byline, dateline, epigraph, author {
    volume-break-inside: -obfl-keep(1);
}

/* Avoid volume breaking inside certain HTML elements (mainly block-level) */
h1, h2, h3, h4, h5, h6,
nav, header, hgroup,
figure, footer, form,
ol, ul, dl, table,
canvas, audio, video,
p, address, aside, blockquote, pre {
    volume-break-inside: -obfl-keep(1);
}

/* Avoid page breaks after a headline (orphaned headline) */
h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}

/* -------------------------------------------------------------------------- */
/*                        Generated content CSS                               */
/* -------------------------------------------------------------------------- */

/* Insert generated content at start of volume */
@volume {
        @begin {
                content: flow(front) flow(volume-toc);
        }
}
@volume :first {
        @begin {
                content: flow(front) flow(front-first) flow(document-toc);
        }
}

/* this elements is generated by insert-boilerplate.xsl
 * it is inserted in the frontmatter (first body) before the first level1 (section) */
.pef-titlepage {
        flow: front;
        display: block;
        volume-break-after: avoid;
        text-transform: uncontracted;
        margin-top: 0;
        margin-left: 1;
        margin-right: 1;
        hyphens: none;
        
        & > p {
            margin-top: 0;
            margin-bottom: 0;
            text-indent: 0;
            text-align: center;
        }
}

.pef-volume {
        &::before {
                content: "Hefte " -obfl-evaluate("(round $volume)");
        }
        
        &::after {
                content: -obfl-evaluate("(round $volumes)");
        }
}

/* #generated-*-toc is a <list> in DTBook and <ol> in HTML
 * these elements are generated by px:dtbook-to-pef.convert */
#generated-volume-toc, #generated-document-toc {
        // flow: volume-toc; // default for #generated-volume-toc
        // flow: document-toc; // default for #generated-document-toc
        volume-break-after: avoid;
        page-break-before: always;
        
        &::-obfl-on-toc-start {
            content: 'Innhold';
            display: block;
            margin-top: 2;
            margin-left: 5;
            margin-right: 5;
            margin-bottom: 1;
            text-align: center;
            border-top: ⠉;
            border-bottom: ⠉;
        }
        
        li {
                display: block;
                margin-left: 2;
                margin-top: 2;
                text-indent: -2;
                
                & a::after {
                        content: " " leader("⠄") " " target-counter(attr(href), page);
                        margin-left: 2;
                        margin-top: 2;
                        text-indent: -2;
                }
        }
}

/* these elements are generated by insert-boilerplate.xsl
 * they are inserted after .pef-titlepage
 * there can be multiple .pef-about elements; the first one is a level1 (body) and starts with a h1
 */
.pef-about {
        
        // can not be put in the normal flow because of how the .notes-placement and .notes-placement-fallback
        // fields are currently implemented
        flow: front-first;
        volume-break-after: avoid;
}


/* -------------------------------------------------------------------------- */
/*                                  Pages in document                         */
/* -------------------------------------------------------------------------- */

.pef-pages {
        display: inline;
}

.pef-pages::after {
        display: inline;
        content: -obfl-evaluate("(round $sheets-in-document)");
}

/* -------------------------------------------------------------------------- */
/*                                  general                                   */
/* -------------------------------------------------------------------------- */
head {
        display: none;
}

level1,
bodymatter, rearmatter, body:not([epub|type~='cover']):not([epub|type~='frontmatter']) {
        display: block;
}

frontmatter, *[epub|type~='frontmatter'] {
        display: none;
        &:has(> *:not(doctitle,
                      h1[epub|type~='fulltitle'],
                      h1[epub|type~='z3998:covertitle'],
                      docauthor,
                      h1[epub|type~='z3998:author'],
                      .pef-titlepage,
                      .pef-about
                      )) {
                display: block;
        }
}

blockquote, sidebar, aside[epub|type~='sidebar'], epigraph, aside[epub|type~='epigraph'],
.Rammetekst, poem, section[epub|type~='z3998:poem'], div[epub|type~='z3998:poem'], linegroup, section.linegroup, div.linegroup, line, p.line {
        display: block;
}

doctitle, h1[epub|type~='fulltitle'], h1[epub|type~='z3998:covertitle'], docauthor, h1[epub|type~='z3998:author'] {
        display: none;
}

/* -------------------------------------------------------------------------- */
/*                Uncontracted content                                        */
/* -------------------------------------------------------------------------- */

.uncontracted-letters, h1 {
        text-transform: uncontracted;
}

[xml|lang]:not([xml|lang|="no"]), [lang]:not([lang|="no"]) {
        text-transform: uncontracted;
        
        /* "contracted" means "allow contracted" */
        [xml|lang|="no"], [lang|="no"] {
                text-transform: contracted;
        }
}

/* -------------------------------------------------------------------------- */
/*                Special classes                                                       */
/* -------------------------------------------------------------------------- */

.precedingemptyline {
        margin-top: 1;
}

.Rammetekst {
        margin-top: 1;
        margin-bottom: 1;
        text-indent: 2;
        text-align: left;
        margin-left: 2;
}

.Rammetekst::before {
        content: "Rammetekst: ";
}

*[showin^="x"], *.hidden-braille {
        display: none;
}

/* -------------------------------------------------------------------------- */
/*                Headlines                                                     */
/* -------------------------------------------------------------------------- */

/* depth 6 */
h6 {
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-bottom: 0;
        margin-left: 1;
        margin-right: 5;
        margin-top: 1;
        text-align: left;
        text-indent: 0;
}
 
/* depth 5 */
h5, level1.part h6, *[epub|type~='part'] h6 {
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-bottom: 0;
        margin-left: 1;
        margin-right: 5;
        margin-top: 1;
        text-align: left;
        text-indent: 0;
}
 
/* depth 4 */
h4, level1.part h5, *[epub|type~='part'] h5 {
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-bottom: 0;
        margin-left: 1;
        margin-right: 5;
        margin-top: 1;
        text-align: left;
        text-indent: 0;
}

/* depth 3 */
h3, level1.part h4, *[epub|type~='part'] h4 {
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-bottom: 0;
        margin-left: 5;
        margin-right: 5;
        margin-top: 1;
        text-align: center;
        text-indent: 0;
}
 
/* depth 2 */
h2, level1.part h3, *[epub|type~='part'] h3 {
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-bottom: 1;
        margin-left: 5;
        margin-right: 5;
        margin-top: 2;
        text-align: center;
        text-indent: 0;
}

/* depth 1 */
h1, level1.part h2, *[epub|type~='part'] h2 {
        border-bottom: ⠉;
        border-left: none;
        border-right: none;
        border-top: ⠉;
        margin-bottom: 1;
        margin-left: 5;
        margin-right: 5;
        margin-top: 2;
        text-align: center;
        text-indent: 0;
}
 

/* part */
level1.part h1, *[epub|type~='part'] h1 {
        border-bottom: ⠤;
        border-left: ⠇;
        border-right: ⠸;
        border-top: ⠉;
        margin-bottom: 1;
        margin-left: 1;
        margin-right: 5;
        margin-top: 2;
        text-align: center;
        text-indent: 0;
}

/* -------------------------------------------------------------------------- */
/*                Other elements                                              */
/* -------------------------------------------------------------------------- */

p {
        text-indent: 2;
        text-align: left;
        widows: 2;
        orphans: 2;
}

blockquote {
        margin-top: 1;
        margin-bottom: 1;
        margin-left: 2;
        text-indent: 2;
        text-align: left;
}

sidebar, aside[epub|type~='sidebar'] {
        margin-top: 1;
        margin-bottom: 1;
        margin-left: 2;
        text-indent: 2;
        text-align: left;
}

sidebar::before, aside[epub|type~='sidebar']::before {
        content: "Margtekst: ";
}

epigraph, aside[epub|type~='epigraph'] {
        margin-top: 1;
        margin-bottom: 1;
        margin-left: 2;
        text-indent: 2;
        text-align: left;
}

prodnote, aside[epub|type~='z3998:production'] {
       display: block;
       &::before {
               content: "⠷";
       }
       &::after {
               content: "⠾";
       }
}

hr::before {
        display: block;
        content: "⠔⠔⠔";
        margin-bottom: 1;
        margin-top: 1;
}

/* -------------------------------------------------------------------------- */
/*                Images                                                      */
/* -------------------------------------------------------------------------- */

/* Show image captions */
@if $include-captions {
        imggroup, figure:has(img) {
                display: block;
                
                caption, figcaption {
                        display: block;
                        margin-top: 1;
                        margin-bottom: 1;
                        margin-left: 2;
                        text-indent: 2;
                        text-align: left;
                        
                        &::before {
                                content: "Bildetekst: ";
                        }
                }
        }
} @else {
        imggroup, figure:has(img) {
            caption, figcaption {
                display: none;
            }
        }
}

/* Show alt text for images with alt text */
@if $include-images {
        img[alt]:not([alt='']):not([alt='image'])::after {
                display: block;
                content: "Bildebeskrivelse: " attr(alt);
                margin-top: 1;
                margin-bottom: 1;
                margin-left: 2;
                text-indent: 2;
                text-align: left;
        }
        
        /* Don't render decorative images */
        img:not([alt])::after, img[alt='']::after, img[alt='image']::after {
                content: none;
        }
} @else {
        img {
                display: none;
                &::after {
                        content: none;
                }
        }
}

/* -------------------------------------------------------------------------- */
/*                Poems                                                       */
/* -------------------------------------------------------------------------- */

poem, section[epub|type~='z3998:poem'], div[epub|type~='z3998:poem'] {
        text-indent: 2;
        text-align: left;
}

linegroup, section.linegroup, div.linegroup {
        margin-bottom: 1;
        text-indent: -2;
}

line, p.line {
        margin-left: 2;
        text-indent: -2;
}

/* -------------------------------------------------------------------------- */
/*                Lists                                                       */
/* -------------------------------------------------------------------------- */

list, ul, ol {
        margin-top: 1;
        margin-left: 2;
        margin-bottom: 1;
}

li {
        text-indent: -2;
        text-align: left;
        display: list-item;
        
        list, ul, ol {
            margin-top: 0;
            margin-bottom: 0;
        }
}

list, ul, ol {
        counter-reset: list-item;
}

list[type=ul], ul {
        list-style-type: '⠤⠤';
}

list[type=ol], ol {
        list-style-type: decimal;
}

/* -------------------------------------------------------------------------- */
/*                Tables                                                      */
/* -------------------------------------------------------------------------- */

table {
    display: table;
    
    &.table-as-list {
        display: block;
        render-table-by: row;
        th::after {
            content: ': ';
        }
        &::list-item {
            display: block;
        }
        &::table-by(row) {
            display: block;
            margin-left: 2;
            &::list-item {
                display: block;
                &:first-child {
                    text-indent: -2;
                }
            }
        }
    }
    
    caption {
        display: block;
        text-indent: 2;
        margin-top: 1;
        margin-bottom: 1;
        text-align: left;
    }

    caption::after,
    &:not(:has(caption))::before {
        display: block;
        text-indent: 2;
        margin-top: 1;
        margin-bottom: 1;
        content: 'Tabell starter';
    }
    
    &::after {
        display: block;
        text-indent: 2;
        margin-top: 1;
        margin-bottom: 1;
        content: 'Tabell slutter';
    }
}

/* -------------------------------------------------------------------------- */
/*                Note and endnote                                            */
/* -------------------------------------------------------------------------- */

noteref, a[epub|type~='noteref'],
note, aside[epub|type~='note'],
level1.footnotes,
rearmatter:not(:has(> *:not(level1.footnotes))) {
        display: none;
}

/* An extend-only selector (%endnotes-title) would be more appropriate
 * but does not seem to work in the 'end-of-book' case */
@mixin endnotes-title {
        display: block;
        margin-top: 2;
        margin-left: 5;
        margin-right: 5;
        margin-bottom: 1;
        text-align: center;
        border-top: ⠉;
        border-bottom: ⠉;
        content: 'Fotnoter';
        text-transform: auto;
}

/*
 * noteref numbering is implemented in pre-processing.xsl (and pre-processing-epub.xsl)
 * FIXME: could be implemented in CSS
 */
@mixin noteref($refattr) {
        display: inline;
        &::before {
                content: '⠠';
        }
        &::alternate {
                display: block;
                content: target-content(attr($refattr));
                @if ($notes-placement == 'bottom-of-page') {
                        flow: footnotes;
                } @else {
                        flow: endnotes;
                }
        }
}

@if ($include-notes) {
        
        @if ($notes-placement == 'bottom-of-page') {
                @page {
                        @footnotes {
                                content: flow(footnotes);
                                max-height: 15;
                                -obfl-fallback-collection: endnotes;
                        }
                }
                .notes-placement {
                        -obfl-use-when-collection-not-empty: footnotes;
                }
                .notes-placement-fallback {
                        -obfl-use-when-collection-not-empty: endnotes;
                }
                
        } @else if ($notes-placement == 'end-of-volume') {
                book, html {
                        &:has(noteref, a[epub|type~='noteref'])::alternate {
                               @include endnotes-title;
                               flow: endnotes-title;
                        }
                }
                
        } @else if ($notes-placement == 'end-of-book') {
                book, html {
                        &:has(noteref, a[epub|type~='noteref'])::after {
                                &::before {
                                        @include endnotes-title;
                                        page-break-before: right;
                                }
                                content: flow(endnotes);
                                page: auto;
                        }
                }
        }
        @if ($notes-placement == 'bottom-of-page' or $notes-placement == 'end-of-volume') {
                @volume {
                        @end {
                                content: flow(endnotes-title) flow(endnotes, volume);
                                page: auto;
                        }
                }
        }

        
        noteref {
                @include noteref(idref);
        }
        
        a[epub|type~='noteref'] {
                @include noteref(href);
        }

        note, aside[epub|type~='note'] { p {
                margin-left: 4;
                text-indent: -2;
                &::before {
                        content: '⠠';
                }
        }
        }
}
