@namespace epub 'http://www.idpf.org/2007/ops';
@namespace xml 'http://www.w3.org/XML/1998/namespace';

/* Declare parameters. Values are passed in from nlb:dtbook-to-pef. */
$show-print-page-numbers: false !default;
$show-braille-page-numbers: false !default;
$line-spacing: false !default;
$include-notes: true !default;
$notes-placement: end-of-volume !default;
$choice-of-colophon: true !default;

/* -------------------------------------------------------------------------- */
/*                page                                                        */
/* -------------------------------------------------------------------------- */

@page {
        margin-right: 1;
        @if $show-print-page-numbers {
            margin-left: 2;
        } @else {
            margin-left: 1;
        }
}

bodymatter, body:not([epub|type~='cover']):not([epub|type~='frontmatter']):not([epub|type~='backmatter']) {
        page: body;
        counter-set: page 1;
}

/* -------------------------------------------------------------------------- */
/*                braille and print page numbers                              */
/* -------------------------------------------------------------------------- */

/* Don't show pagenumber inline. Store reference in case we want to show marker in margin. */
pagenum, *[epub|type~='pagebreak'] {
        display: none;
        -obfl-marker: pagenum;
}

/* Show page numbers in bodymatter. */
@if $show-print-page-numbers {
        bodymatter pagenum {
                string-set: print-page "⠿" content();
        }
        
        body:not([epub|type~='cover']):not([epub|type~='frontmatter']):not([epub|type~='backmatter']) *[epub|type~='pagebreak'] {
                &[title] {
                        string-set: print-page "⠿" attr(title);
                }
                &:not([title]) {
                        string-set: print-page "⠿" content();
                }
        }
}

@page body {
        @if $show-print-page-numbers {
                @bottom-right {
                        content: string(print-page, last);
                }
                @left {
                    content: -obfl-marker-indicator(pagenum, '⠿');
                }
        }

        @if $show-braille-page-numbers {
                @bottom-center {
                        content: counter(page);
                }
        }
}

/* -------------------------------------------------------------------------- */
/*               line spacing                                                 */
/* -------------------------------------------------------------------------- */

@if $line-spacing == double {
        :root {
                line-height: 1;

                /* to cancel out generic rule */
        }

        bodymatter, body:not([epub|type~='cover']):not([epub|type~='frontmatter']):not([epub|type~='backmatter']) {
                line-height: 2;
        }

        @page body:left {
                margin-top: 1;
        }
}

/* -------------------------------------------------------------------------- */
/* Book structure, including headlines, volume breaking, toc, titlepage, etc. */
/* -------------------------------------------------------------------------- */

/* Parts */
level1.part, *[epub|type~='part'] {
    
    & ~ level1.part,
    & ~ *[epub|type~='part'] {
        /* Note: this selector assumes that parts in EPUBs are sibling elements */
        
        /* Always start a new volume before a new part */
        volume-break-before: always;
    }
}

/* Rules depending on sectioning depth */
/* Note: DTBook and EPUB rules are separated mainly to avoid bloating the compiled CSS. */
level1:not(.part), level1.part > level2 {
        /* level 1 */
        volume-break-inside: -obfl-keep(8);
        
        & ~ level1:not(.part),
        & ~ level2:not(.part) {
            /* level 1 except first sibling level 1 */
        }
}
level1:not(.part) level2, level1.part level3 {
        /* level 2 */
        /*volume-break-inside: -obfl-keep(7);*/
        
        & ~ level1:not(.part),
        & ~ level2:not(.part) {
            /* level 2 except first sibling level 2 */
        }
}
level1:not(.part) level3, level1.part level4 {
        /* level 3 */
        /*volume-break-inside: -obfl-keep(6);*/
        
        & ~ level1:not(.part),
        & ~ level2:not(.part) {
            /* level 3 except first sibling level 3 */
        }
}
level1:not(.part) level4, level1.part level5 {
        /* level 4 */
        /*volume-break-inside: -obfl-keep(5);*/
        
        & ~ level1:not(.part),
        & ~ level2:not(.part) {
            /* level 4 except first sibling level 4 */
        }
}
level1:not(.part) level5, level1.part level6 {
        /* level 5 */
        /*volume-break-inside: -obfl-keep(4);*/
        
        & ~ level1:not(.part),
        & ~ level2:not(.part) {
            /* level 5 except first sibling level 5 */
        }
}
level1:not(.part) level6 {
        /* level 6 */
        /*volume-break-inside: -obfl-keep(3);*/
        
        & ~ level1:not(.part),
        & ~ level2:not(.part) {
            /* level 6 except first sibling level 6 */
        }
}
*[epub|type~='part'] section,
body:not([epub|type~='part']),
section:not([epub|type~='part']) {
        /* level 1 */
        volume-break-inside: -obfl-keep(8);
        
        & ~ section:not([epub|type~='part']) {
            /* level 1 except first sibling level 1 */
        }
        
        section {
                /* level 2 */
                /*volume-break-inside: -obfl-keep(7);*/
                
                & ~ section {
                    /* level 2 except first sibling level 2 */
                }
                
                section {
                        /* level 3 */
                        /*volume-break-inside: -obfl-keep(6);*/
                        
                        & ~ section {
                            /* level 3 except first sibling level 3 */
                        }
                        
                        section {
                                /* level 4 */
                                /*volume-break-inside: -obfl-keep(5);*/
                                
                                & ~ section {
                                    /* level 4 except first sibling level 4 */
                                }
                                
                                section {
                                        /* level 5 */
                                        /*volume-break-inside: -obfl-keep(4);*/
                                        
                                        & ~ section {
                                            /* level 5 except first sibling level 5 */
                                        }
                                        
                                        section {
                                                /* level 6 */
                                                /*volume-break-inside: -obfl-keep(3);*/
                                                
                                                & ~ section {
                                                    /* level 6 except first sibling level 6 */
                                                }
                                            
                                        }
                                }
                        }
                }
        }
}

/* Insert generated content at start of volume */
@volume {
        @begin {
                content: flow(front) flow(volume-toc);
        }
}

level1.first-page, section.first-page {
        flow: front;
}

.titlepage {
        display: block;
        page-break-before: always;
        flow: titlepage;
}

@if $choice-of-colophon {
        .colophon {
                display: block;
                page-break-before: always;
                flow: titlepage;
        }
}

#generated-volume-toc {
        page-break-before: always;
}

#generated-volume-toc li {
        display: block;
        margin-left: 2;
        margin-top: 2;
        text-indent: -2;
}

#generated-volume-toc li a::after {
        content: " " leader("⠄") " " target-counter(attr(href), page);
        margin-left: 2;
        margin-top: 2;
        text-indent: -2;
}

/* -------------------------------------------------------------------------- */
/*                        Generated content CSS                               */
/* -------------------------------------------------------------------------- */
.first-page {
        flow: front;
}

.first-page p {
        text-align: center;
}

.first-page p, .second-page p, .third-page p {
        display: block;
}

.author-1 {
        margin-top: 3;
}

.translator {
        margin-top: 2;
}

.title-pef {
        display: block;
        margin-top: 1;
}

.nlb {
        margin-top: 4;
}

.year {}

.bind::before {
        display: inline;
        content: "Bind " -obfl-evaluate("(round $volume)");
}

.bind {
        display: inline;
        -obfl-vertical-position: 25;
}

.bind::after {
        display: inline;
        content: -obfl-evaluate("(round $volumes)");
        page-break-after: always;
}

.second-page h1, third-page h1 {
        display: block;
        page-break-before: always;
}

.contraction-level {
        margin-top: 1;
}

.contact {
        page-break-after: always;
}

/* -------------------------------------------------------------------------- */
/*                                  Pages in document                         */
/* -------------------------------------------------------------------------- */
.second-page, .third-page {
        flow: front-first;
}

@volume :first {
        @begin {
                content: flow(front) flow(volume-toc) flow(front-first);
        }
}

.pages {
        display: inline;
}

.pages::after {
        display: inline;
        content: -obfl-evaluate("(round $sheets-in-document)");
}

/* -------------------------------------------------------------------------- */
/*                                  general                                   */
/* -------------------------------------------------------------------------- */
head {
        display: none;
}

level1,
bodymatter, rearmatter, body:not([epub|type~='cover']):not([epub|type~='frontmatter']) {
        display: block;
}

frontmatter, *[epub|type~='frontmatter'] {
        display: none;
        &:has(> *:not(doctitle,
                      h1[epub|type~='fulltitle'],
                      h1[epub|type~='z3998:covertitle'],
                      docauthor,
                      h1[epub|type~='z3998:author'],
                     .first-page,
                     .second-page,
                     .third-page,
                     .titlepage)) {
                display: block;
        }
}

blockquote, sidebar, aside[epub|type~='sidebar'], epigraph, aside[epub|type~='epigraph'],
.Rammetekst, poem, section[epub|type~='z3998:poem'], div[epub|type~='z3998:poem'], linegroup, section.linegroup, div.linegroup, line, p.line {
        display: block;
}

doctitle, h1[epub|type~='fulltitle'], h1[epub|type~='z3998:covertitle'], docauthor, h1[epub|type~='z3998:author'] {
        display: none;
}

/* -------------------------------------------------------------------------- */
/*                Frontmatter                                                 */
/* -------------------------------------------------------------------------- */

frontmatter, level1[epub|type~='frontmatter'] {
        margin-left: 3;
        margin-right: 3;
        text-align: left;
}

.uncontracted-letters, h1 {
        text-transform: uncontracted;
}

.titlepage {
        text-transform: uncontracted;
        margin-left: 1;
        margin-top: 1;
}

/* -------------------------------------------------------------------------- */
/*                other languages                                             */
/* -------------------------------------------------------------------------- */

*[xml|lang]:not([xml|lang|="no"]), *[lang]:not([lang|="no"]) {
    text-transform: uncontracted;
}

/* -------------------------------------------------------------------------- */
/*                class                                                       */
/* -------------------------------------------------------------------------- */
.part h1, h1.part {
        margin-left: 1;
        margin-top: 2;
        text-align: center;
        page-break-before: right;
        border-top: ⠉;
        border-right: ⠸;
        border-bottom: ⠤;
        border-left: ⠇;
}

.precedingemptyline {
        margin-top: 1;
}

.Rammetekst {
        margin-top: 1;
        margin-bottom: 1;
        text-indent: 2;
        text-align: left;
        margin-left: 2;
}

.Rammetekst::before {
        content: "Rammetekst:";
}

/* -------------------------------------------------------------------------- */
/*                element                                                     */
/* -------------------------------------------------------------------------- */

h1, .part h2 {
        page-break-before: right;
        margin-top: 2;
        margin-left: 5;
        margin-right: 5;
        margin-bottom: 1;
        text-align: center;
        border-top: ⠉;
        border-bottom: ⠉;
}

h2, .part h3 {
        margin-top: 2;
        margin-left: 5;
        margin-right: 5;
        margin-bottom: 1;
        text-align: center;
}

h3, .part h4 {
        margin-top: 1;
        margin-left: 5;
        margin-right: 5;
        text-align: center;
}

h4, .part h5 {
        margin-top: 1;
        margin-left: 1;
        margin-right: 5;
        text-align: left;
        text-indent: 0;
}

h5, .part h6 {
        margin-top: 1;
        margin-left: 1;
        margin-right: 5;
        text-align: left;
        text-indent: 0;
}

h5::after, .part h6::after {
        content: ":";
}

h6 {
        margin-top: 1;
        margin-left: 1;
        margin-right: 5;
        text-align: left;
        text-indent: 0;
        border-top: ⠉;
        border-right: ⠉;
        border-bottom: ⠉;
        border-left: ⠉;
}

p {
        text-indent: 2;
        text-align: left;
        widows: 2;
        orphans: 2;
}

blockquote {
        margin-top: 1;
        margin-bottom: 1;
        margin-left: 2;
        text-indent: 2;
        text-align: left;
}

sidebar, aside[epub|type~='sidebar'] {
        margin-top: 1;
        margin-bottom: 1;
        margin-left: 2;
        text-indent: 2;
        text-align: left;
}

sidebar::before, aside[epub|type~='sidebar']::before {
        content: "Margtekst:";
}

epigraph, aside[epub|type~='epigraph'] {
        margin-top: 1;
        margin-bottom: 1;
        margin-left: 2;
        text-indent: 2;
        text-align: left;
}

prodnote::before, aside[epub|type~='z3998:production']::before {
        content: "⠷";
}

prodnote::after, aside[epub|type~='z3998:production']::after {
        content: "⠾";
}

/* -------------------------------------------------------------------------- */
/*                Images                                                      */
/* -------------------------------------------------------------------------- */

imggroup, figure {
        display: block;
        
        caption::before {
            content: "Bildetekst:";
        }
        
        caption {
            margin-top: 1;
            margin-bottom: 1;
            margin-left: 2;
            text-indent: 2;
            text-align: left;
        }
}

/* -------------------------------------------------------------------------- */
/*                Poems                                                       */
/* -------------------------------------------------------------------------- */

poem, section[epub|type~='z3998:poem'], div[epub|type~='z3998:poem'] {
        text-indent: 2;
        text-align: left;
}

linegroup, section.linegroup, div.linegroup {
        margin-bottom: 1;
        text-indent: -2;
}

line, p.line {
        margin-left: 2;
        text-indent: -2;
}

/* -------------------------------------------------------------------------- */
/*                Lists                                                       */
/* -------------------------------------------------------------------------- */

list, ul, ol {
        margin-left: 2;
        text-indent: -2;
        margin-bottom: 1;
}

li {
        text-indent: 2;
        text-align: left;
        display: list-item;
}

list, ul, ol {
        counter-reset: list-item;
}

list[type=ul], ul {
        list-style-type: '⠤';
}

list[type=ol], ol {
        list-style-type: decimal;
}

/* -------------------------------------------------------------------------- */
/*                Tables                                                      */
/* -------------------------------------------------------------------------- */

table {
    display: table;
}

table > caption {
    display: block;
    text-indent: 2;
    margin-top: 1;
    margin-bottom: 1;
    text-align: left;
}

table > caption::after {
    display: block;
    text-indent: 2;
    margin-top: 1;
    margin-bottom: 1;
    content: 'Tabell starter';
}

table:not(:has(caption))::before {
    display: block;
    text-indent: 2;
    margin-top: 1;
    margin-bottom: 1;
    content: 'Tabell starter';
}

table::after {
    display: block;
    text-indent: 2;
    margin-top: 1;
    margin-bottom: 1;
    content: 'Tabell slutter';
}

/* -------------------------------------------------------------------------- */
/*                Note and endnote                                            */
/* -------------------------------------------------------------------------- */

noteref, a[epub|type~='noteref'],
note, aside[epub|type~='note'],
level1.footnotes,
rearmatter:not(:has(> *:not(level1.footnotes))) {
        display: none;
}

/* An extend-only selector (%endnotes-title) would be more appropriate
 * but does not seem to work in the 'end-of-book' case */
@mixin endnotes-title {
        display: block;
        margin-top: 2;
        margin-left: 5;
        margin-right: 5;
        margin-bottom: 1;
        text-align: center;
        border-top: ⠉;
        border-bottom: ⠉;
        content: 'Fotnoter';
        text-transform: auto;
}

/*
 * noteref numbering is implemented in pre-processing.xsl (and pre-processing-epub.xsl)
 * FIXME: could be implemented in CSS
 */
@mixin noteref($refattr) {
        display: inline;
        &::before {
                content: '⠠';
        }
        &::alternate {
                display: block;
                content: target-content(attr($refattr));
                @if ($notes-placement == 'bottom-of-page') {
                        flow: footnotes;
                } @else {
                        flow: endnotes;
                }
        }
}

@if ($include-notes) {
        
        @if ($notes-placement == 'bottom-of-page') {
                @page {
                        @footnotes {
                                content: flow(footnotes);
                                max-height: 15;
                        }
                }
        } @else if ($notes-placement == 'end-of-volume') {
                book, html { &:has(noteref, a[epub|type~='noteref'])::alternate {
                        @include endnotes-title;
                        flow: endnotes-title;
                }
                }
                @volume {
                        @end {
                                content: flow(endnotes-title) flow(endnotes, volume);
                                page: auto;
                        }
                }
        } @else if ($notes-placement == 'end-of-book') {
                book, html { &:has(noteref, a[epub|type~='noteref'])::after {
                        &::before {
                                @include endnotes-title;
                                page-break-before: right;
                        }
                        content: flow(endnotes);
                }
                }
        }

        
        noteref {
                @include noteref(idref);
        }
        
        a[epub|type~='noteref'] {
                @include noteref(href);
        }

        note, aside[epub|type~='note'] { p {
                margin-left: 4;
                text-indent: -2;
                &::before {
                        content: '⠠';
                }
        }
        }
}
