/* -------------------------------------------------------------------------- */
/*                 Volume breaking                                            */
/* -------------------------------------------------------------------------- */

/* Parts */
level1.part, *[epub|type~='part'] {
    page-break-before: right;
    
    & ~ level1.part,
    & ~ *[epub|type~='part'] {
        /* Note: this selector assumes that parts in EPUBs are sibling elements */
        
        /* Always start a new volume before a new part */
        volume-break-before: always;
        page-break-before: auto; // FIXME: page-break-before: right can not be used in combination with volume-break-before: always
                                 // see https://github.com/daisy/pipeline-mod-braille/issues/173
    }
}

/* Always start top-level chapters on right-hand page: DTBook */
level1:not(.part,
           .pef-titlepage,
           .pef-about),
level1.part > level2 {
        page-break-before: right;
}

/* Always start top-level chapters on right-hand page: EPUB/HTML */
html:has(body ~ body) > body,
html:not(:has(body ~ body)) > body > section {
        &:not(.pef-titlepage,
              .pef-about) {
                &:not([epub|type~='part']),
                &[epub|type~='part'] > section {
                        page-break-before: right;
                }
        }
}

/* Volume breaking rules based on level depth: DTBook */
frontmatter > level1:not(.part,
                         .pef-titlepage,
                         .pef-about) ~ level1,
frontmatter:has(level1:not(.part,
                           .pef-titlepage,
                           .pef-about)) ~ bodymatter > level1,
bodymatter > level1:not(.part) ~ level1:not(.part),
rearmatter > level1:not(.part) {
        /* level1 except first non-generated level1 */
        volume-break-inside: -obfl-keep(8);
}
level1.part ~ level1.part level2 { volume-break-inside: -obfl-keep(8); }
level2 ~ level2                  { volume-break-inside: -obfl-keep(7); }
level3 ~ level3                  { volume-break-inside: -obfl-keep(6); }
level4 ~ level4                  { volume-break-inside: -obfl-keep(5); }
level5 ~ level5                  { volume-break-inside: -obfl-keep(4); }
level6 ~ level6                  { volume-break-inside: -obfl-keep(3); }

@for $i from 1 through 6 {
    h#{$i} {
        -obfl-keep-with-next-sheets: 1;
    }
    level#{$i} ~ level#{$i} > h#{$i} {
        -obfl-keep-with-next-sheets: 0;
    }
}

/* Volume breaking rules based on level depth: EPUB/HTML */
html:has(body ~ body) > body,
html:not(:has(body ~ body)) > body > section {
        &:not(.pef-titlepage,
              .pef-about) {
                & ~ body, & ~ section {
                        /* level1 except first non-generated level1 */
                        volume-break-inside: -obfl-keep(8);
                }
        }
}
body[epub|type~='part'] ~ body[epub|type~='part'] > section,
body > section[epub|type~='part'] ~ section[epub|type~='part'] > section { volume-break-inside: -obfl-keep(8); }
body > section:not(.pef-titlepage, .pef-about) ~ section                 { volume-break-inside: -obfl-keep(7); }
body > section > section ~ section                                       { volume-break-inside: -obfl-keep(6); }
body > section > section > section ~ section                             { volume-break-inside: -obfl-keep(5); }
body > section > section > section > section ~ section                   { volume-break-inside: -obfl-keep(4); }
body > section > section > section > section > section ~ section         { volume-break-inside: -obfl-keep(3); }

/* Avoid volume breaking inside certain DTBook elements (mainly block-level) */
h1, h2, h3, h4, h5, h6,
imggroup, prodnote, sidebar, note, annotation
list, dl, table, poem,
p, address, blockquote, byline, dateline, epigraph, author {
    volume-break-inside: -obfl-keep(1);
}

/* Avoid volume breaking inside certain HTML elements (mainly block-level) */
h1, h2, h3, h4, h5, h6,
nav, header, hgroup,
figure, footer, form,
ol, ul, dl, table,
canvas, audio, video,
p, address, aside, blockquote, pre {
    volume-break-inside: -obfl-keep(1);
}

/* Avoid page breaks after a headline (orphaned headline) */
h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}
